In [14]:
import pandas as pd

In [70]:
pokemon = pd.read_csv("../data/Pokemon.csv", index_col=0)
pokemon.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [7]:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800 entries, 1 to 721
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Type 1      800 non-null    object
 2   Type 2      414 non-null    object
 3   Total       800 non-null    int64
 4   HP          800 non-null    int64
 5   Attack      800 non-null    int64
 6   Defense     800 non-null    int64
 7   Sp. Atk     800 non-null    int64
 8   Sp. Def     800 non-null    int64
 9   Speed       800 non-null    int64
 10  Generation  800 non-null    int64
 11  Legendary   800 non-null    bool
dtypes: bool(1), int64(8), object(3)
memory usage: 75.8+ KB

In [8]:
pokemon.isnull().sum()

Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

Приводим бинарные признаки к 1 или 0

In [65]:
mapping = {False : 0,
           True : 1}

pokemon['Legendary'] = pokemon['Legendary'].map(mapping)
pokemon

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,0
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,0
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,0
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,0
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,1
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,1
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,1
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,1
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,1

Перекодируем категориальные признаки. Для каждого типа сделаем собственный префикс.

In [104]:
tmp1 = pokemon[['Name','Type 1']]
tmp2 = pokemon[['Name', 'Type 2']]
types1 = pd.get_dummies(tmp1, prefix='t', columns=['Type 1'])
types2 = pd.get_dummies(tmp2, prefix='t', columns=['Type 2'])
ccat = pd.concat([types1, types2], join="inner")
allTypes = ccat.groupby(['Name']).sum()
res = pd.DataFrame(pokemon).merge(allTypes, on='Name', how='inner')
res = res.drop(columns=['Type 1', 'Type 2'])
res.info()
res.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 800 entries, 0 to 799
Data columns (total 28 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        800 non-null    object
 1   Total       800 non-null    int64
 2   HP          800 non-null    int64
 3   Attack      800 non-null    int64
 4   Defense     800 non-null    int64
 5   Sp. Atk     800 non-null    int64
 6   Sp. Def     800 non-null    int64
 7   Speed       800 non-null    int64
 8   Generation  800 non-null    int64
 9   Legendary   800 non-null    bool
 10  t_Bug       800 non-null    uint8
 11  t_Dark      800 non-null    uint8
 12  t_Dragon    800 non-null    uint8
 13  t_Electric  800 non-null    uint8
 14  t_Fairy     800 non-null    uint8
 15  t_Fighting  800 non-null    uint8
 16  t_Fire      800 non-null    uint8
 17  t_Flying    800 non-null    uint8
 18  t_Ghost     800 non-null    uint8
 19  t_Grass     800 non-null    uint8
 20  t_Ground    800 non-null    uint8
 21  t_Ice       800 non-null    uint8
 22  t_Normal    800 non-null    uint8
 23  t_Poison    800 non-null    uint8
 24  t_Psychic   800 non-null    uint8
 25  t_Rock      800 non-null    uint8
 26  t_Steel     800 non-null    uint8
 27  t_Water     800 non-null    uint8
dtypes: bool(1), int64(8), object(1), uint8(18)
memory usage: 77.3+ KB

,Name,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,...,t_Ghost,t_Grass,t_Ground,t_Ice,t_Normal,t_Poison,t_Psychic,t_Rock,t_Steel,t_Water
0,Bulbasaur,318,45,49,49,65,65,45,1,False,...,0,1,0,0,0,1,0,0,0,0
1,Ivysaur,405,60,62,63,80,80,60,1,False,...,0,1,0,0,0,1,0,0,0,0
2,Venusaur,525,80,82,83,100,100,80,1,False,...,0,1,0,0,0,1,0,0,0,0
3,VenusaurMega Venusaur,625,80,100,123,122,120,80,1,False,...,0,1,0,0,0,1,0,0,0,0
4,Charmander,309,39,52,43,60,50,65,1,False,...,0,0,0,0,0,0,0,0,0,0

In [105]:
res.to_csv('../data/Pokemon_preprocessed.csv')